<div>
  <form novalidate>
    <div>
      <input type="text" placeholder="title carro">
    </div>
    <div>
      <input type="text" placeholder="nome carro">
      <input type="text" placeholder="ano carro">
    </div>
    <div>
      <input type="text" placeholder="cor carro">
      <input type="text" placeholder="preco carro">
    </div>
    <div>
      <input type="text" placeholder="km carro">
    </div>
    <div>
      <div>
        <button type="button">remover</button>
        <button type="button">cancelar</button>
      </div>
      <div>
        <button type="button">salvar</button>
      </div>
    </div>
  </form>
</div>