<div class="shell">
  <div fxLayout="row" fxLayout.xs="column" fxFlexFill>

    <div class="ground" fxLayout="row" fxLayoutAlign="center start" fxFlex="30">
      <div class="logo">
        <img src="assets/logo-tc.png" alt="logo">
      </div>
    </div>

    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="100">
      <div class="container-fluid groundBasic" fxLayout="row" fxLayoutAlign="center center" fxFlex="20">
        <div class="col-md-12">
          <app-navbar></app-navbar>
        </div>
      </div>

      <div class="container-fluid groundMedium" fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
        <div class="col-md-12">
          <div class="groundCar">
            <div fxLayout="column" fxLayoutAlign="center center" fxFlex="100">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>