.shell {
    height: 100vh;
    width: 100vw;
}

.logo {
    margin-top: 20%;
}

.ground {
    background-color: #2b2f3d;
}

.groundBasic {
    background-color: #333e66;
} 

.groundMedium {
    background: linear-gradient(rgba(47,42,112,1), rgba(47,42,112,0.8)), url("../assets/car-wireframe.png") no-repeat;
}