<div class="allResultsList$.cars.length !== undefined" class="wrapperList">
    <div *ngIf="load && allResultsList$.cars.length <= 0">
        <p class="havent">Não há resultados</p>
    </div>
    <div *ngIf="load; else spinner">
        <div 
        *ngFor="let item of allResultsList$?.cars; index as i" 
        (click)="handlerRouterEdit(item?.title)"
        class="bottom" 
        fxLayout="row">
            <div fxLayout="column" class="col-md-12" fxLayoutAlign="center center" fxFlex="100">
                <p class="nameCar" fxLayoutAlign="center center">{{ item?.title }}</p>
                <p class="detailsCar" fxLayoutAlign="center center">{{ item?.model }} {{ item?.brand }} {{ item?.km }} KM</p>
            </div>
            <div fxLayout="column" class="col-md-12" fxLayoutAlign="center center" fxFlex="100">
                <p class="nameCar" fxLayoutAlign="center center">R$ {{ item?.price }}</p>
                <p class="detailsCar" fxLayoutAlign="center center">{{ item?.year }}</p>
            </div>
        </div>
    </div>
</div>
<ng-template #spinner>
    <div fxLayout="row" fxLayoutAlign="center center">
        <img fxFlex="100" fxLayoutAlign="center center" src="assets/spinner.svg">
    </div>
</ng-template>